<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/constancia.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <h1>Registro de Representante </h1>
        <nav>
            <ul>
                <li><a method="POST" href="/Registro">Regresar</a></li>
            </ul>
        </nav>
    </header>
    <form  method="post" action="/verNino">
    <div class="container" >
        <div class="container-form">
            <div class="content-input">
                <legend>Datos del Representante</legend>
                <label  for="nombres">Paciente </label>
                <input type="text" id="" name="" required>
                
                <label for="apellidos"> Nombres:</label>
                <input type="text" id="" name="" required>
                
                <label for="edad" class="edad">Apellidos:</label>
                <input type="number" id="" name="" required>
                
                <label for="sexo" class="sex">Edad:</label>
                <input type="text" id="" name="" required>
                
                <label for="fecha_nac" class="fecha_nac"> Cédula:</label>
                <input type="date" id="" name="" required>
                
                <label for="lugar_nac">Sexo:</label>
                <input type="text" id="" name="" required>

                <label for="direccion" class="dir">Dirección:</label>
                <input type="text" id="" name="" required>

                <label for="direccion" class="dir">Telefóno:</label>
                <input type="text" id="" name="" required>

                <label for="direccion" class="dir">Telefóno de Emergencia:</label>
                <input type="text" id="" name="" required>

        
                
               
        </div>
    </div>
       
        
    </div>
    
    <div class="container-btn">
        <button type="submit" class="btn btn-Login ">Registrar</button>
    </div>
</form>

</body>

</html>