<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="constancia.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <h1>Constancia de Niño Sano</h1>
        <nav>
            <ul>
                <li><a method="POST" href="/inicio">Regresar</a></li>
                <li><a method="POST" href="/verNino">Ver pacientes</a></li>

                <li><a method="POST" href="/representante">registrar representante</a></li>
            </ul>
        </nav>
    </header>
    <form  method="post" action="/verNino">
    <div class="container" >
        <div class="container-form">
            <div class="content-input">
                <legend>Datos personales</legend>
                <label  for="nombres">Nombres: </label>
                <input type="text" id="nombres" name="nombres" required>
                
                <label for="apellidos"> Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" required>
                
                <label for="edad" class="edad">Edad:</label>
                <input type="number" id="edad" name="edad" required>
                
                <label for="sexo" class="sex">Sexo:</label>
                <input type="text" id="sexo" name="sexo" required>
                
                <label for="fecha_nac" class="fecha_nac">Fecha de Nacimiento:</label>
                <input type="date" id="fecha_nac" name="fecha_nac" required>
                
                <label for="lugar_nac">Lugar de Nacimiento:</label>
                <input type="text" id="lugar_nac" name="lugar_nac" required>
                
                <label for="direccion" class="dir">Dirección:</label>
                <input type="text" id="direccion" name="direccion" required>
                
                <label for="evaluacion" class="eva">Se evalúa a:</label>
                <input type="text" id="evaluacion" name="evaluacion" required>
        </div>
    </div>
        <div class="container-form">
            <div class="content-input">
              
<label for="piel">Piel y mucosa:</label>
<input type="text" id="piel" name="piel" required>

<label for="peso" class="peso">Peso (kg):</label>
<input type="number" id="peso" name="peso" step="0.01" required>

<label for="talla" class="tall">Talla (cm):</label>
<input type="number" id="talla" name="talla" required>

<label for="temperatura">Temperatura (°C):</label>
<input type="number" id="temperatura" name="temperatura" step="0.1" required>

<label for="cardio" class="cardio">Cardiorrespiratorio:</label>
<input type="text" id="cardio" name="cardio" required>

<label for="abdomen" class="ad">Abdomen:</label>
<input type="text" id="abdomen" name="abdomen" required>

<label for="laboratorio" id="rr">Resultados del Laboratorio:</label>
<input type="text" id="laboratorio" name="laboratorio" required>

<label for="snc">SNC:</label>
<input type="text" id="snc" name="snc" required>
                </div>
        </div>
        
    </div>
    
    <div class="container-btn">
        <button  type="submit" class="btn btn-Login ">Continuar</button>
    </div>
</form>

</body>

</html>