<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=<div class="col-12">
            <link rel="stylesheet" href="constancia.css">
            <link rel="stylesheet" href="ver.css">
        </head>

        <title>Document</title>
        <header class="main-header">
            <h1>Ver Pacientes</h1>
            <nav>
                <ul>
                    <li><a method="POST" href="/Registro">Agregar</a></li>
                
                </ul>
            </nav>
        </header>
     
     
   

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column">Nombres</th>
                            <th class="column">Apellidos</th>
                            <th class="column">Edad</th>
                            <th class="column">Sexo</th>
                            <th class="column">Fecha de Nacimiento</th>
                            <th class="column">Lugar de Nacimiento</th>
                            <th class="column">Dirección</th>
                            <th class="column" colspan="2">Opciones</th>

                        </tr>
                    </thead>
                    <tbody>
                          
                          
                            
                            <tr>
                                <td class="column">Maria Gabriela</td>
                                <td class="column">Perez Torres</td>
                                <td class="column">1</td>
                                <td class="column">Femenino</td>
                                <td class="column">12/12/2024</td>
                                <td class="column">Hospital</td>
                                <td class="column">San Juan de los Morros</td>
                                 <td><a href="/editarNino" class="options edit">Editar</a></td>
                                <td><a href="/verPerfil" class="options ver">Ver Perfil</a></td>
                            </tr>
                           
                           

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>
