

body{
    background-image: url('/fondoPPP.jpg');
    width: 100vw;
    display:flex ;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 0; /* Elimina el margen por defecto */
    height: 100vh; /* Asegura que el body tenga al menos la altura de la ventana */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-repeat: no-repeat; 
    
  }
  :root {
    --azul: #84d5fa;
    --rosado: #fa82ea;
    --blanco: #ffffff; 
    --negro: #000000;
    --gris: #e9e6e6;
    --grisOscuro: #8d8d8d;
    --azulOscuro: #3498db

}
.btn-Login{
width: 150px;
height: 40px;
border-radius: 4px;
border: none;
background: var(--rosado);
color: var(--blanco);
font-size: 15px;
font-weight: 700;
font-family:  Helvetica,sans-serif;
cursor: pointer;


}
.btn-Login:hover {
    background-color: var(--azulOscuro);
  }
  .search:hover {
    background-color: var(--azulOscuro);
  }
.textInputs{
font-size: 12px;
font-family: Helvetica, sans-serif;
font-weight: 400;
color: var(--grisOscuro)


}
.container {
    display: flex;
    justify-content: center;
    border: 2px solid var(--azul);
    width: 300px;
    position: absolute;
    right: 200px;
    top: 100px;
    height: 450px;
    background-image: url('/hola.webp');
    border-radius: 10px;
    align-items: center;
}
.container-itens{
display: flex;
flex-direction: column;
gap: 30px;
align-items:inherit;
justify-content: center;
margin-top: auto;    
width: 300px;
height: 300px;
background: var(--blanco);
border-radius: 10px;

}
.content-inputs{
    display: flex;
    gap: 15px;
    flex-direction: column;
    border-radius: 20px;
}
.content-inputs input{
    height: 30px;
    width: 200px;
    border-radius: 3px ;
    border: none;
    border-bottom: 1px solid  var(--rosado);}
.emoticon{
    display: flex;
    position: absolute;
    background-color: var(--blanco);
    margin-bottom: 280px;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    border: none;
    background-image: url("/svg/foot.svg");
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center center;

}


.formCenter{
    display: flex
    ;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
}